*{
    
    margin: 0;
    padding: 0;
}
body{
    font-size: 10px;
}
:root{
    --color1:gray;
    --color2:#0F8C8C;
    --color3: black;
    --color4:#fff;
    --color5: #012E40;
    --color6:  #027367;
    --color7: #732D2D;

    --colorTextoInterno : #fff; 
}

.form-calculadora{
    width: 35em;
    height: 50em;
    border: 1px solid var(--color1);
    border-radius: 1em;
    margin: auto;
    margin-top: 5em;
    -webkit-box-shadow: 47px 39px 80px -21px rgba(171,171,171,1);
-moz-box-shadow: 47px 39px 80px -21px rgba(171,171,171,1);
box-shadow: 47px 39px 80px -21px rgba(171,171,171,1);

}

.fc-titulo{
    display: block;
    text-align: center;
    color: var(--color2);
    font-weight: 600;
    font-size: 2.5em;
    margin-top: 3em;
}

.num-1, .num-2{
    display: block;
    width: 20em;
    height: 3em;
    margin: auto;
    margin-top: 2.5em;
    border: 0;
    border-bottom: 1px solid var(--color3);
    border-radius: 3px;
    outline: none;
   
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


.caja-botones{
    color: var(--color4);
    width: 25em;
    margin: auto;
    margin-top: 2.5em;

    display: flex;
    justify-content: space-between;
}
.caja-botones input{
    width: 2em;
    height: 2em;
    font-size: 2.5em;
    border: 0;
    background-color: var(--color5);
    color: var(--color4);
    border: 1px ;
    border-radius: 100%;
    
}

.caja-botones input:hover{
    background-color: var(--color6);
}
.fc-respuesta{
    background-color:var(--color7);
    
    display: block;
    width: 13em;
    height: 5em;
    margin: auto;
    margin-top: 1.5em;
    border-radius: 5px;
    color: var(--color4);
    text-align: center;
    padding-top: 2em;
    box-sizing: border-box;
    font-size: 2em;
}
